/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
}

html{
  scroll-behavior: smooth;
}

/*=============== BASE ===============*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.5);
  background-color: rgb(184, 177, 177);
  z-index: 5;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 2.5rem;
}

.nav__logo:hover {
  color: rgba(56, 4, 4, 0.8);
}


@media (max-width:400px) {
  .nav__logo{
    font-size: 1.5rem;
  }
}


.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__toggle-close {
  opacity: 0;
}
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    background-color: #fff;

  }
  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
}


.nav__link {
  color: black;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.nav__link:hover {
  color: #17a845;
}

.navrooms{
  color: black;
}

.navrooms:hover {
  color: #17a845;
}


/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
  color: rgb(5, 5, 5);
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;

}
.dropdown__container {
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
  display: flex;
  justify-content: space-between;
}

.dropdown__content {
  row-gap: 1.75rem;
}
.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}
.dropdown__group:first-child {
  margin-top: 1.25rem;
}
.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}
.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}
.dropdown__title {
  font-size: 115%;
  font-weight: bold;
  color: black;
}
.dropdown__list {
  row-gap: 0.25rem;
  margin-left: -2.5rem;
}
.dropdown__link {
  font-size: 16px;
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}
.dropdown__link:hover {
  color: red;
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }
  .nav li {
    display: flex;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: white;
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }
  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }
  .dropdown__icon i {
    font-size: 2rem;
  }
  .dropdown__title {
    margin: 0;
  }
  .dropdown__link {
    margin: 0;
  }
  .dropdown__link:hover {
    color: green;
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

Login and signup


.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
}

.form-box-login{
  position: absolute;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  z-index: 33;
  background-color: rgba(39, 29, 29, 0.5);
  margin-top: 6.5rem;
  margin-left: 35%;
}

.form-box-signup{
  position: absolute;
  width: 400px;
  height: 500px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  margin-top: 6.5rem;
  z-index: 35;
  background-color: rgba(39, 29, 29, 0.5);
  margin-left: 35%;
}

.logline{
  margin-top: 20px;
  font-size: 2em;
  color: #0d0c0c;
  text-align: center;
}

.inputbox{
  position: relative;
  margin: 30px 43px;
  width: 310px;
  border-bottom: 2px solid #521b1b;
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #983636;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #7a1e1e;
}

.i22{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.forget{
  align-items: center;
  margin: 35px ;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-around;  
}

.forget label a{
  color: #fff;
  text-decoration: none;
  margin-left: 60px;
}
.forget label a:hover{
  text-decoration: underline;
  
}
.logbutton {
  width: 50%;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-left: 25%;
}

.closelogin{
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
width: 20px;
}

.closelogin:hover{
  color: #521b1b;
}

.closesignup{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
}

.closesignup:hover{
    color: #521b1b;
}

.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
  text-decoration: none;
  color: #5e1616;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
  background-color: rgba(255,255,255,0.5);
  color: #0d0c0c;
}

.homeboy h1{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 12rem;
  font-size: 655%;
  text-align: center;
  width: 100%;  
  border-radius: 15px;
}

h2{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.slider78 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.slider78{
  width: 100%;
  height: 30rem;
  padding-top: 2rem;
}

#rooms{
  padding-top: 9rem;
}


.maps{
  margin-left: 5%;
  margin-top: 8rem;
  background-color: rgba(224, 206, 206, 0.8);
  height: 78vh;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  border-radius: 2rem;
  box-shadow: 0 0 15px 15px rgba(36, 35, 35, 0.3);
  align-items: center;
  padding-bottom: 3rem;
  margin-bottom: 8rem;
}

.map1{
  text-align: center;
  width:580px;
  height: 450px;
  font-size: 35px;
  border-radius: 20px;
}

.map1 iframe{
  width: 100%;
}

.map1 p{
  font-size: 25px;
  margin-top: -0.15rem;
}

.info1 h3{
  font-size: 20px;
  padding: 0 5px;
}

.info1 h2{
  font-size: 30px;
  padding: 0 5px;
}

.info{
  width: 250px;
  height: 450px;
}


.info2 h2{
  font-size: 30px;
}

.infoimg img{
  background-color:  rgba(192, 83, 83, 0.4);
  border-radius: 40px;
}

.infoimg img:hover{
  background-color:  rgba(134, 23, 23, 0.8);
  border-radius: 40px;
}

@media (max-width:1000px) {
  .info{
    width: 150px;
  }
  .info1 h2{
    font-size: 20px;
  }
  .info1 h3{
    font-size: 12px;
  }
  .info2 h2{
    font-size: 20px;
    margin-top: 8rem;
  }
  .infoimg img{
    width: 25%;
    margin-left: 6px;
  }
}

.fotter{
  margin-bottom: -8px;
  width: 100%;
  height: 45vh;
  color: rgb(201, 155, 64);
  background-color: rgb(78, 84, 84);
  border-radius: 20px 20px 0 0;
  margin-top: 5rem;
}

.fotter h2{
  margin-top: -2rem;
}

.footy{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.f1{
  margin-top: 60px;
  font-size: 30px;
}

.ficons{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  height: 30vh;
}

.f1 h1{
  text-align: center;
  padding: 0;
}

.f3 h3{
  padding:8px 0;
  margin:0;
  font-size: 15px;
  margin-top: 50x;
}

.f3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 55px;
}

.f4{
  margin-top: 55px;
}

.f3 h2{
  font-size: 25px;
}

.f4 h2{
  text-align: center;
  font-size: 25px;
}

.fimg img{
  background-color:  rgba(192, 83, 83, 0.4);
  border-radius: 40px;
  margin-top: 20px;
}

.fimg img:hover{
  background-color:  rgba(134, 23, 23, 0.8);
  border-radius: 40px;
}



@media(max-width:885px) {
  .fotter{
      height: 65vh;
  }
  .f1{
      margin-top: -10px;
  }
  .f4{
    margin-top: 3.5rem;
  }
  .fotter h2{
    margin-top: 0.15rem;
    padding-top: 10px;
  }
  .fimg{
    margin-top: -2rem;
  }
}

@media(max-width:875px) {
  .f4{
    margin-top: -5rem;
  }
}

@media(max-width:650px) {
  .fotter{
    height: 70vh;
  }
  .f1{
    font-size: 20px;
  }
  .f3{
    margin-top: 1rem;
  }
  .f4{
    margin-top: -1rem;
  }
}

@media(max-width:500px) {
  .fotter{
    height: 78vh;
  }
  .f3{
    margin-top: -5px;
  }
  .ficons{
    margin-top: -20px;
  }
  .f4{
    margin-top: -15px;
  }
  .fimg img{
    width: 25%;
    margin-left: 8px;
  }
}

@media(max-height:550px) {
  .fotter{
    height: 25rem;
  }
}
