.offer {
    display: block;
    min-width: 50rem;
    width: 73rem;
    height: 450px;
    margin: 0 1.4rem;
    background: #fff;
    padding: 2.5rem 3.125rem 2.5rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    margin: 120px 50px;
    overflow-x: auto;
}
.offer::-webkit-scrollbar{
    width: 0;
}
.mtop .container .heading{
 display: block;
position: absolute;
margin: -8% 0% 6% 37%;
}
.mtop .container .heading h5,h2{
    text-align: center;
}

.mtop .flex .left img{
    width: 20rem;
    height:20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex{
    display: flex;
    /* flex-wrap: wrap; */
}
.grid2{
    display: flex;
    margin: 91px 0px ;
}
.flex .right{
    font-size: 18px;
    width: 15rem;
    margin: 6px;
    padding:4px ;
    /* height: 17rem;
    margin-bottom: 10px; */
}
