
  .hcontainer {
    font-family: "Poppins", sans-serif;
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    height: 400px;
    width: 550px;
    border-radius: 15px;
    margin: 5rem 2rem;
  }
  
  .card img {
    height: 97%;
    width: 97%;
    border-radius: 5%;
    box-shadow: 0 15px 15px 15px rgba(0, 0, 0, 0.4);
  }

  .tet a{
    color: rgb(255, 251, 246);
  }

  .tet{
    margin-top: -5rem;
    padding-left: 20px;
  }
